* {
    /* border: 1px solid gainsboro; */
    box-sizing: border-box;
    /* margin: 1px; */
    /* padding: 2px; */
}

/* addition */
.hidden {
    display: none !important;
}

body {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    color: steelblue;
}

/* wrapper login */
.wrapper_login {
    /* border: 1px solid red; */
    width: 20%;
    margin: auto;
    margin-top: 50px;

    /* display: flex; */
    /* background-color: rgba(245, 245, 245, 0.365); */

    position: relative;
    /* border-top: 1px solid rgba(0, 0, 0, 0.784); */
    /* border-bottom: 2px solid black; */
    /* border: 1px solid gainsboro; */
}

/* form */
.wrapper_login .wrapper_form {
    /* border: 1px solid blue; */
    flex: 1;
    padding: 14px;
}
.wrapper_login .wrapper_form .title_form {
    /* display: flex; */
    /* text-transform: capitalize; */
    text-align: center;
    margin: 0;
    /* border: 1px solid red; */
    display: block;
    font-size: 36px;
    font-style: italic;
    /* font-weight: lighter !important; */
    font-weight: lighter;
}
.wrapper_login .wrapper_form .title_form h2 {
    font-weight: lighter;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}
.wrapper_login .wrapper_form .title_form h2 img {
    border: 3px solid rgba(13, 13, 13, 0.979);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 8px;
    position: relative;
    top: 8px;
    /* background-color: black; */
    filter: grayscale(40%);
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.474); */
}
.wrapper_login .wrapper_form .sentence {
    margin-top: 12px;
    /* border: 1px solid red; */
    color: gray;
    font-size: 14px;
    letter-spacing: 1px;
}
.wrapper_login .wrapper_form .wrapper_input {
    /* border: 1px solid salmon; */
    margin: 20px;
    /* border: 1px solid red; */
    /* width: 70%; */
}
.wrapper_login .wrapper_form .wrapper_input .group_input {
    display: block;
    display: flex;
    border-radius: 4px;
    /* border: 1px solid black; */
    margin-bottom: 16px;
    /* padding: 4px; */
    /* box-shadow: 4px 4px 4px rgba(220, 220, 220, 0.239); */
    /* border-bottom: 1px solid rgba(10, 139, 238, 0.578); */
    /* border-left: 2px solid rgb(13, 137, 232); */
    border-bottom: 1px solid rgba(220, 220, 220, 0.622);
}
.wrapper_login .wrapper_form .wrapper_input .group_input label {
    border: 1px solid rgba(220, 220, 220, 0.234);
    cursor: pointer;
    padding: 8px;
}
.wrapper_login .wrapper_form .wrapper_input .group_input label img {
    width: 20px;
    height: 20px;
    /* padding: 6px 6px; */
    /* margin: 8px; */
}
.wrapper_login .wrapper_form .wrapper_input .group_input input {
    display: inline-block;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(220, 220, 220, 0.126);
    letter-spacing: 1px;
    padding: 10px 10px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper_login .wrapper_form .wrapper_input .btn {
    /* border: 1px solid red; */
    margin-top: 34px;
    text-align: center;
}

.wrapper_login .wrapper_form .wrapper_input .btn button {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    /* background-color: rgb(10, 167, 229); */
    color: white;
    padding: 10px 14px;
    border: none;
    letter-spacing: 2px;
    background: none;
    cursor: pointer;
    /* width: 100%; */
}
.wrapper_login .wrapper_form .wrapper_input .btn button img {
    width: 27px;
    height: 27px;
}
.wrapper_login .line {
    border-top: 1px solid rgba(79, 79, 81, 0.235);
    display: block;
    margin: 40px 0;
    position: relative;
}
.wrapper_login .sign {
    padding: 4px;
    position: absolute;
    top: -8px;
    z-index: 1;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(9, 10, 10, 0.191);
    left: 10px;
    letter-spacing: 3px;
    font-size: 16px;
}

/* footer */
.copyright {
    font-size: 12px;
    color: rgb(252, 247, 247);
    letter-spacing: 2px;
    text-align: center;
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.895);
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    font-weight: lighter;
}



/* thumb */
.wrapper_login .wrapper_thumb {
    flex: 1;
    /* border: 1px solid green; */
    border: 1px solid black;
    display: none;
}
.wrapper_login .wrapper_thumb .thumb {
    width: 100%;
    height: 600px;
}

.wrapper_login .wrapper_thumb .thumb img {
    width: 100%;
    height: 100%;
}


/* opening speech */
.opening_speech {
    /* border: 1px solid red; */
    margin-top: 35px;
}
.opening_speech p {
    background-color: rgba(188, 194, 192, 0.152);
    padding: 17px;
    font-family: monospace;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 6px;
    font-style: italic;
}

/* information */
.information {
    /* border: 1px solid red; */
    /* margin-top: 40px; */
    /* background-color: rgba(220, 220, 220, 0.555); */
    padding: 4px;
    border-radius: 4px;
    position: fixed;
    /* bottom: 50px; */
    /* right: 0; */
    left: 10px;
    top: 0;
}
.information p {
    display: flex;
    position: relative;
}
.information p img {
    width: 17px;
    height: 17px;
    margin-right: 10px;
    position: relative;
    top: -2px;
}
.information p span {
    display: inline-block;
    font-family: monospace;
    letter-spacing: 1px;
    color: rgb(107, 106, 106);
    font-size: 12px;
    font-style: italic;
}

/* wrapper data / board */
.wrapper_data {
    /* border: 1px solid black; */
    margin-top: 40px;
    margin-bottom: 80px;
}
.wrapper_data h2 {
    text-align: center;
    text-transform: capitalize;
    font-size: 34px;
    margin-bottom: 50px;
}

.wrapper_data .wrapper_board {
    /* border: 1px solid red; */
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: center;
}
.wrapper_data .wrapper_board .board {
    /* border: 1px solid black; */
    width: 300px;
    border-top: 2px solid rgb(59, 212, 120);
    /* height: 400px; */
    background-color: rgba(245, 245, 245, 0.207);
    padding: 6px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 8px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* text-transform: capitalize; */
    font-size: 16px;
    box-shadow: 4px 4px 4px rgba(220, 220, 220, 0.365);
}
.wrapper_data .wrapper_board .board  h3 {
    letter-spacing: 1px;
    text-align: center;
}
.wrapper_data .wrapper_board .board .thumb {
    text-align: center;
    margin-top: 20px;
}
.wrapper_data .wrapper_board .board .thumb img {
    width: 80px;
    height: 80px;
}

.wrapper_data .wrapper_board .board p {
    text-align: justify;
    font-size: 12px;
    color: gray;
    padding: 12px;
    border: 1px solid rgba(220, 220, 220, 0.641);
    margin: 8px;
    letter-spacing: 1px;
    font-style: italic;
}

.wrapper_data .wrapper_board .board:nth-child(2) {
    border-top: 2px solid rgb(10, 11, 10);
}
.wrapper_data .img_thumb {
    /* border: 1px solid red; */
}

.wrapper_data .img_thumb {
    text-align: center;
}
.wrapper_data .img_thumb img {
    width: 340px;
}

/* RESPONSIVE */
@media only screen and (max-width: 1200px) {
    
    .wrapper_login {
        margin: 0;
        display: block;
        width: 100%;
        /* background-color: whitesmoke; */
        border: none;
        padding: 0;
    }
    .wrapper_login .wrapper_form {
        padding: 0;
    }
    .wrapper_login .wrapper_form .wrapper_input {
        /* border: 1px solid rgb(255, 255, 255); */
        position: relative;
        top: -40px;
        background-color: white;
        border-radius: 6px;
        /* width: 94%; */
    }

    .wrapper_login .wrapper_form .title_form {
        background-color: rgba(19, 17, 17, 0.946);
        color: white;
        padding: 10px 0;
    }
    .wrapper_login .wrapper_form .title_form h2 img {
        border: 2px solid white;
    }

    /* opening speech  */
    .opening_speech {
        padding: 10px;
        /* border: 1px solid red; */
    }

    /* information */
    .information {
        margin-top: 10px;
        /* border: 1px solid red; */
    }
    .information p img {
        width: 19px;
        height: 19px;
        margin-right: 10px;
        position: relative;
        top: 2px;
        background-color: white;
        padding: 2px;
    }
    .information p span {
        display: inline-block;
        font-family: monospace;
        letter-spacing: 1px;
        color: rgb(247, 245, 245);
        font-size: 12px;
        font-style: italic;
    }

    /* board */
    .wrapper_data {
        /* border: 1px solid red; */
        display: block;
    }
    .wrapper_data .wrapper_board {
        display: block;
        /* border: 1px solid red; */
        width: 100%;
        text-align: center;
    }
    .wrapper_data .wrapper_board .board {
        margin-bottom: 50px;
        margin: auto;
        width: 90%;
        margin-bottom: 40px;
    }
  }